.wrapper-result {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@keyframes changePosition {
  from {
    transform: translate(0, 5px);
  }

  to {
    transform: translate(0, -15px);
  }
}
.img-weather {
  position: absolute;
  top: 5px;
  left: 0px;
  animation-duration: 2s;
  animation-name: changePosition;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.weather-text-container {
  position: absolute;
  top: 40px;
  right: 10px;
  font-size: 24px;
  color: sandybrown;
}
hr {
  width: 100%;
  border-top: 1px solid white;
  opacity: 0.4;
}
#poster {
  max-width: 70%;
  color: red;
  font-size: 24px;
}
#movie-imdb,
#movie-title {
  color: tomato;
  font-size: 24px;
  margin: 8px 0px;
}
#loading-gif {
  max-width: 10%;
}
@media screen and (max-width: 768px) {
  .weather-text-container {
    top: 10px;
    font-size: 20px;
  }
}
