.wrapper-result {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes changePosition {
  from {
    transform: translate(0, 5px);
  }

  to {
    transform: translate(0, -15px);
  }
}
.img-weather {
  position: absolute;
  top: 5px;
  left: 0px;
  animation-duration: 2s;
  animation-name: changePosition;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.weather-text-container {
  position: absolute;
  top: 40px;
  right: 10px;
  font-size: 24px;
  color: sandybrown;
}
hr {
  width: 100%;
  border-top: 1px solid white;
  opacity: 0.4;
}
